<h2>Record a New Pet</h2>

<%= form_for(:pet, :url => {:action => 'create'}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f}) %>
  
  <%= f.submit("Add Pet", class: "btn btn-primary") %>
  
<% end %>

<hr />
<%= link_to "Home", root_path %>
