<h1>Veterinary Practice App</h1><hr />

<h2>Welcome!</h2>
<p>This is a basic Rails app for managing a small veterinary practice.</p>
<p>There are four different user types, and each has a preconfigured login:</p>
<div>
  <ul>
    <li><em>admin</em>@example.com / password</li>
    <li><em>veterinarian</em>@example.com / password</li>
    <li><em>receptionist</em>@example.com / password</li>
    <li><em>customer</em>@example.com / password</li>
  </ul>
</div>
<p>Try out each account!</p>
